body
{
background-color: #aed6f1;
margin: 25px 50px 25px 50px;
padding: 10px 10px 10px 10px;
font-family: arial 
}

h2, h4, h6
{
font-family: lucida sans unicode;
text-align: center
}

p
{
font-family: verdana
}

a
{
text-decoration: none;
color: black
}

span
{
background-image: url("images/paper.jpg")
}

hr
{
border: 2px solid black;
border-radius: 2px;
opacity: 0.6
}
